$color-white: #fbfcff;
$color-black: #030101;
$color-gray: #37393e;
$color-gray--soft: #f4f4f9;

$font-primary: 'Ridley Grotesk', sans-serif;


/* Material Icons & Symbols Link */
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0');

/* Ridley Grotesk webfont Link */
@import url('http://fonts.cdnfonts.com/css/ridley-grotesk');
                

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    height: 100%;
}

body{
    font-family: $font-primary;
    height: 100%;
    overflow: hidden;
}

[class*="material"]{
    color: inherit;
}

.slick-list,
.slick-track
{
    height: 100%;
}

.banner{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 50%);
    &__half{
        position: relative;
    }
    &__shape{
        &-slider{
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-slide{
            position: absolute;
            transform: rotate(0);
            transform-origin: center;
            transition: all 0.8s ease-in-out;
            opacity: 0;
            &.active{
                opacity: 1;
            }
            &__item{
                font-size: 75em;
            }
            // @keyframes rounded {
            //     to{
            //         transform: rotate(90deg);
            //     }
            // }
        }
    }
    &__slide{
        &__item{
            padding: 16em;
            // background-color: #ab6bfe;
            &__title{
                color: $color-white;
                font-size: 8em;
            }
        }
        &.slick-active{
            .banner__shape__slide__item__bg{
                animation: rotate 0.5s linear forwards;
                @keyframes rotate {
                    to{
                        transform: translate(-50%, -50%) skewY(-10deg) rotate(90deg);
                    }
                }
            }
        }
    }
}

.gradient-wrapper{
    position: fixed;
    top: -100%;
    left: -100%;
}